@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    /* Google Fonts  */
    @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Manrope:wght@200..800&family=Mohave:ital,wght@0,300..700;1,300..700&family=Poppins:wght@400;700&display=swap');
}

@layer utilities{

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*<--------------Hero Section------------->*/

    /* Heading and Logo Container  */
    .top-heading-container{
        clip-path: polygon(30% 0%,40% 100%,60% 100%,70% 0%);
    }
    /*Heading section */
    /*Common properties for heading section first line and second line*/
    .heading-section-firstline,.heading-section-secondline{
        background:linear-gradient(to right,#ffffff ,#939393);
        background: -webkit-linear-gradient(to right,#ffffff,#939393);
        background-clip:text ;
        -webkit-background-clip:text ;
        color: transparent;
    }
    .heading-section-firstline{
        font-family: "Manjari", sans-serif;
    }
    .heading-section-secondline{
        font-family: "Manrope", sans-serif;
    }
    .heading-section-secondline-football{
        background:linear-gradient(to bottom,#ff0000 41%,#939393 100%);
        background: -webkit-linear-gradient(to bottom,#ff0000 41%,#939393 100%);
        background-clip:text ;
        -webkit-background-clip:text ;
        color: transparent;
    }

    /*<--------------Challenges Section------------->*/
    /*Challenges heading container*/
    .challenges-heading-container{
        clip-path: polygon(30% 100%,40% 0%,60% 0%,70% 100%);
    }
    /*Common properties of challenges-heading-container and Scouting phase heading*/
    .challenges-heading,.scouting-phase-heading{
        font-family: "Mohave", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    /*Scouting phase heading*/
    .scouting-phase-heading{
        background: -webkit-linear-gradient(to bottom,#E92229 12%,#1c1c1c);
        background: linear-gradient(to bottom,#E92229 12%,#1c1c1c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    /* Super League kerala Teams Container */
    .super-league-kerala-teams-container{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1574155088851-0c770818ba40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-image: -webkit-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1574155088851-0c770818ba40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

     /*<--------------Our Media Section------------->*/
     /*Our Media heading*/
     /*media text*/
    .media-text{
        background:linear-gradient(to bottom,#E92229,#737373) ;
        background:-webkit-linear-gradient(to bottom,#E92229,#737373);
        background-clip:text ;
        -webkit-background-clip:text ;
        color: transparent;
        font-family: "Mohave", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    /*Common properties*/
    /*Media description title and description*/
    .media-description-title,.media-description-description{
        font-family: "Poppins",sans-serif;
        font-style: normal;
    }

    .media-description-title{
        font-weight: 700;
    }
    .media-description-description{
        font-weight: 400;
    }
/*<--------------Subscribe Section------------->*/
    .subscribe-section-container{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('./assets/images/stadium.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .quotes-line1{
        font-family: "Manjari",sans-serif;
    }
    .quotes-line2{
        font-family: "Manrope",sans-serif;
    }
}
